<div class="typography shadow-sm">
    <h1 style="font-family:'{{ .Get `font` }}' !important;"><span class="pretype">h1</span>Quick fox jumps nightly above wizard.</h1>
    <h2 style="font-family:'{{ .Get `font` }}' !important;"><span class="pretype">h2</span>Quick fox jumps nightly above wizard.</h2>
    <h3 style="font-family:'{{ .Get `font` }}' !important;"><span class="pretype">h3</span>Quick fox jumps nightly above wizard.</h3>
    <h4 style="font-family:'{{ .Get `font` }}' !important;"><span class="pretype">h4</span>Quick fox jumps nightly above wizard.</h4>
    <h5 style="font-family:'{{ .Get `font` }}' !important;"><span class="pretype">h5</span>Quick fox jumps nightly above wizard.</h5>
    <h6 style="font-family:'{{ .Get `font` }}' !important;"><span class="pretype">h6</span>Quick fox jumps nightly above wizard.</h6>
</div>