<ul class="copyright">
    {{ range $index, $element := .Site.Params.sidebar.copyright  }}
        {{if eq $index 0}}
            <li class="d-inline"><span class="px-3"></span>{{ $element | markdownify }}</li>
        {{ else }}
            <li class="d-inline"><span class="px-3">|</span>{{ $element | markdownify }}</li>
        {{ end }}
    {{ end }}


    <!-- {{ range after 1 .Site.Params.sidebar.copyright }}
    <li class="d-inline"><span class="px-3">|</span>{{ . | markdownify }}</li>
    {{ end }} -->

</ul>