{{ "<!-- Footer -->" | safeHTML }}


<footer class="pt-5 position-absolute w-100" style="z-index: 9999;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 px-5 pt-3 pt-sm-5 pb-3 pb-sm-5">
				{{ partial "footer/copyright" . }}
			</div>
			<div class="col-12 col-sm-6 px-5 pt-3 pt-sm-5 pb-5 d-inline d-sm-flex justify-content-end">
					<ul class="social">
							{{ with .Site.Params.sidebar.googleplus }}
							<li class="d-inline p-3"><a href="//plus.google.com/+{{ . }}" target="_blank" class="icon fa-google-plus"><span class="text-hide">Google Plus</span></a></li>
							{{ end }}
							{{ with .Site.Params.sidebar.facebook }}
							<li class="d-inline p-3"><a href="//facebook.com/{{ . }}" target="_blank" class="fab fa-facebook-square"><span class="text-hide">Facebook</span></a></li>
							{{ end }}
							{{ with .Site.Params.sidebar.twitter }}
							<li class="d-inline p-3"><a href="//twitter.com/{{ . }}" target="_blank" class="icon fa-twitter"><span class="text-hide">Twitter</span></a></li>
							{{ end }}
							{{ with .Site.Params.sidebar.github }}
							<li class="d-inline p-3"><a href="//github.com/{{ . }}" target="_blank" class="icon fa-github"><span class="text-hide">GitHub</span></a></li>
							{{ end }}
							{{ with .Site.Params.sidebar.instagram }}
							<li class="d-inline p-3"><a href="//instagram.com/{{ . }}" target="_blank" class="fab fa-instagram"><span class="text-hide">Instagram</span></a></li>
							{{ end }}
							{{ with .Site.Params.sidebar.linkedin }}
							<li class="d-inline p-3"><a href="//linkedin.com/in/{{ . }}" target="_blank" class="fab fa-linkedin"><span class="text-hide">Linkedin</span></a></li>
							{{ end }}
							{{ with .Site.Params.sidebar.dribbble }}
							<li class="d-inline p-3"><a href="//dribbble.com/{{ . }}" target="_blank" class="fab fa-dribbble-square"><span class="text-hide">Dribbble</span></a></li>
							{{ end }}
			
						</ul>
			</div>
		</div>
	</div>
</footer>



{{ "<!-- Scripts -->" | safeHTML }}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
<!-- <script src="{{ .Site.BaseURL }}js/swup.min.js"></script> -->
<script src="{{ .Site.BaseURL }}js/main.js"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
