html, body , * {
	font-family: 'Saira', sans-serif , "Segoe UI", "Roboto" , "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
	font-family: 'Saira', sans-serif , "Segoe UI", "Roboto" , "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	color: #666;
}
.text-primary {
	color: #FE5222 !important;
}
a {
	color: #222;
}
a:hover {
	color: #FE5222 !important;
    text-decoration: underline;
}

.nav-link {
	font-size: .8rem;
}

.navbar-brand {
	font-weight: 700;
}

.social {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.copyright {
	margin-bottom: 0;
	padding: 0;
}

.transition-fade {
    transition: .6s;
    opacity: 1;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
html.is-animating .transition-fade{
    opacity: 0;
}

.transition-slide {
	transition: .4s;
	left: 0px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
html.is-animating .transition-slide{
	left:40%;
}