html {
	font-family: 'Saira', sans-serif , "Segoe UI", "Roboto" , "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	color: #666;
}
body {
	background-image: url("images/funky-lines.png");
}


.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira', sans-serif , "Segoe UI", "Roboto" , "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.uk-logo {
    font-family: 'Saira', sans-serif , "Segoe UI", "Roboto" , "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    font-family: 'Saira', sans-serif , "Segoe UI", "Roboto" , "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav .uk-logo {
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: .4em;
}
nav a{
	color: #1c1c1c !important;
	letter-spacing: .4em;
}

.uk-slider-container {
	overflow: inherit !important;
}


.parallax-container[data-v-569ff987] {
	perspective: 1000px;
  }
  
  .parallax-element[data-v-9f140bfc] {
	transform-origin: center;
	transition: all 2s;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  