{{ define "main" }}
<div class="container-fluid d-flex align-items-center" style="min-height:calc(100vh - 136px - 168px); max-width: 2000px;">
    {{ .Content }}
    <div class="row">
        <div class="col-12 col-xl-4 px-5 py-4 d-flex align-items-end">
            <div>
                <h1 class="font-weight-bold">MY WORK</h1>
                <h3>A collection of my work</h3>
            </div>
        </div>
        <div class="col-12 col-xl-8">
            <div class="row no-gutters">
                {{ $paginator := .Paginate .Data.Pages }}
                {{ range $paginator.Pages }}
                <div class="col-12 col-md-4">
                    <div class="m-4 shadow-sm">
                        {{ .Render "summary" }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "pagination" . }}

</div>
{{ end }}
