{{ define "header"}}

{{partial "header/header.html" .}}

{{ end }}

{{ define "main" }}

<div class="container py-5">
    <div class="row mb-5">
        <div class="col">
            <h1 class="display-3">{{ .Title }}</h1>
            <div class="meta d-inline ">
                <h2>{{  .Params.employer  }}
                    <span class="mx-2"> / </span>
                    {{ range .Params.categories }}
                    {{ . }}
                    {{ end }}
                    <span class="mx-2"> / </span>
                    {{  .Params.date | dateFormat "January 2, 2006"  }}</h2>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-items d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
                {{ range .Params.portfolio_items }}
                <div class="col-4">
                    <div class="mb-4">
                        <img class="single-image data-zoomable img-fluid shadow" alt="{{ .img_title }}" src="{{ .image }}">
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "footer"}}

{{ partial "prefooter" .}}

{{partial "footer.html" .}}

{{ end }}