<div id="main" class="pt-5 position-relative" style="z-index:100;" >
        {{ block "main" . }}{{ end }}
    </div>
    <div class="container-fluid vh-100 position-fixed d-none d-sm-inline" style="top:0; left:0; z-index: 1;">
            <div class="row">
                <div class="col-12 col-sm-6 vh-100">
                    <div class="row ">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 vh-100" style="background-image:url(/bg5.jpg); background-size: cover;">
                    <div class="row ">
                        <div class="col-12 p-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>