{{ "<!-- Footer -->" | safeHTML }}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-md-6 p-5 d-flex align-items-center">
            <div class="row no-gutters">
                <!-- COLUMN 1  -->
                <div id="column1" class="col">
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt                         data-aos="fade-up"
                            data-aos-offset="200"
                            data-aos-delay="50"
                            data-aos-duration="1000"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center"> </div>
                    </div>
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/600" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                </div>
                <!-- COLUMN 2  -->
                <div id="column2" class="col position-relative" style="top:-30px;">
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/400" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/500" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/400" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                </div>
                <!-- COLUMN 3  -->
                <div id="column3" class="col">
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/600" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                    <div class="row">
                        <div class="col"> <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid p-2 js-tilt" data-tilt> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5 d-flex align-items-center">
            <div class="row">
                <div class="col">
                    <h3 class="text-primary">E-blast Section</h3>
                    <h1 class="uk-text-bold mb-5">I’M A GRAPHIC DESIGNER WHO <br> BREAKS THE MOLD AND DOTS THE I’s</h1>
                    <p>Phasellus vestibulum, urna et ultrices vulputate, tellus egestas dolor, eu faucibus quam nunc quis dolor.
                        Vestibulum eget tempor lorem, eleifend maximus felis. Sed aliquam urna sed aliquet. Morbi vestibulum
                        mauris vitae dui molestie condimentum. Suspendisse tempus quis dui ut mattis.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="grid">
        <div class="grid-item">
            <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        </div>
        <div class="grid-item">
            <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        </div>
        <div class="grid-item">
            <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        </div>
        <div class="grid-item">
            <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        </div>
        <div class="grid-item">
            <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        </div>
    </div> -->