{{ "<!-- INTRO -->" | safeHTML }}

<div class="container-fluid vh-100 position-relative" style="z-index:105;">
        <div class="row">
            <div class="col-12 col-sm-6 vh-100 d-flex align-items-center">
                <div class="row ">
                    <div class="col-12 p-5">
                            {{ with .Site.Params.sidebar.bio }}
                            <h1 class="">{{ . | markdownify }}</h1>
                            {{ end }}
                            <p class="">Phasellus vestibulum, urna et ultrices vulputate, tellus egestas dolor, eu faucibus quam nunc quis dolor. Vestibulum eget tempor lorem, eleifend maximus felis. Sed aliquam urna sed aliquet. Morbi vestibulum mauris vitae dui molestie condimentum. Suspendisse tempus quis dui ut mattis.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 vh-100 d-flex align-items-center">
                <div class="row ">
                    <div class="col-12 p-5">
                        <img src="frank.jpg" alt="This is me" class="js-tilt shadow-lg img-fluid" data-tilt>
                    </div>
                </div>
            </div>
        </div>
    </div>
    