{{ "<!-- Footer -->" | safeHTML }}

<div class="container-fluid v-padding" style="max-width: 2000px;">
    <div class="row">
            <div class="col-12 col-lg-4 col-xl-5 p-5 d-flex align-items-center">
                    <div class="row">
                        <div class="col">
                                {{ with .Params.eblast.header1 }}
                                     <h3 class="text-primary">{{ . }} </h3>
                                {{ end }}
                                {{ with .Params.eblast.header2 }}
                                <h1 class="mb-4">{{ . | markdownify }}</h1>
                           {{ end }}
                            
                            <p>Phasellus vestibulum, urna et ultrices vulputate, tellus egestas dolor, eu faucibus quam nunc quis dolor.
                                Vestibulum eget tempor lorem, eleifend maximus felis. Sed aliquam urna sed aliquet. Morbi vestibulum
                                mauris vitae dui molestie condimentum. Suspendisse tempus quis dui ut mattis.</p>
                        </div>
                    </div>
                </div>
        <div class="col-12 col-lg-8 col-xl-7 p-5 d-flex align-items-center">
            <div class="row no-gutters">
                <!-- COLUMN 1  -->
                <div id="column1" class="col">
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/600" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMN 2  -->
                <div id="column2" class="col position-relative" style="top:-30px;">
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/400" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/500" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/400" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMN 3  -->
                <div id="column3" class="col">
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/600" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2">
                                <img src="https://picsum.photos/400/300" alt="practice image" class="img-fluid js-tilt shadow" data-tilt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>