{{ "<!-- INTRO -->" | safeHTML }}
<div class="container position-relative">
    <div class="row">
        <div class="col-12 col-md-11">
            {{ with .Params.intro.header1 }}
            <h1 class="display-4">{{ . | markdownify }}</h1>
            {{ end }}
        </div>
    </div>
</div>
<!-- <div class="container position-relative py-sm-5">
        <span id="showScroll"  class="shape-left-sunset sm-h-1"></span>
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-5 d-flex align-items-center">

        </div>
        <div class="col-12 col-lg-8 col-xl-7 d-flex align-items-center">
            <div class="row ">
                <div class="col-12 p-4 position-relative">
                    <a href="/about/"><img src="frank.jpg" alt="This is me" class="js-tilt-lg shadow-lg img-fluid" data-tilt></a>
                    <span class="dot-grid d-none d-md-block"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container position-relative ">
    <div class="row">
        <div class="col py-5">
            {{ with .Params.space1 }}
            <h1 class="display-5">{{ . | markdownify }}</h3>
            {{ end }}
        </div>
    </div>
</div> -->