{{ "<!-- RECENT WORK -->" | safeHTML }}

<div class="container pt-5">
    <h1 class="h5 text-uppercase"> <strong>Recent Work</strong> </h1>
    <div class="row py-4 recentWork no-gutters">
        {{ range first 9 (where .Data.Pages "Section" "post") }}
        <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
            <div class="w-100">
                <a href="{{ .URL }}" id="test" class="d-block m-1 shadow-sm recentLink"><img src="{{ .Params.thumb }}" alt="{{.Title}}" class="recentImage" style="width:100%;"></a>
            </div>
        </div>
        {{ end }}
    </div>
</div>