{{ "<!-- WEB SECTION -->" | safeHTML }}
<div class="container-fluid v-padding" style="max-width: 2000px;">
    <div class="row d-flex">
        <div class="col-12 col-lg-4 col-xl-5 p-5 d-flex align-items-center">
            <div>
                {{ with .Params.web.header1 }}
                <h3 class="text-primary">{{ . }}</h3>
                {{ end }}
                {{ with .Params.web.header2 }}
                <h1 class="mb-4">{{ . | markdownify }}</h1>
                {{ end }}
                <p>Phasellus vestibulum, urna et ultrices vulputate, tellus egestas dolor, eu faucibus quam nunc quis
                    dolor.
                    Vestibulum eget tempor lorem, eleifend maximus felis. Sed aliquam urna sed aliquet. Morbi vestibulum
                    mauris vitae dui molestie condimentum. Suspendisse tempus quis dui ut mattis.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8 col-xl-7 p-5">
            <div class="row d-flex justify-content-center">
                <div class="col d-flex align-items-center position-relative">
                    <img src="postpic.png" alt="" class="img-fluid shadow js-tilt-lg" data-tilt>
                </div>
            </div>
        </div>
    </div>
</div>