{{ "<!-- RESUME  SECTION -->" | safeHTML }}
<div class="container py-5">
    <div class="row">
        <div class="col">
            <h3 class="display-5">
                Let's work together Take a look at my experience here, and my resume <a href="#" >here</a>.
            </h3>
        </div>
    </div>
</div>
<!-- 
<div class="container py-sm-5">
        <div class="row d-flex">
            <div class="col-12 col-lg-4 col-xl-5 p-4 d-flex align-items-center">
                <div>
                    {{ with .Params.web.header1 }}
                    <h3 class="">{{ . }}</h3>
                    {{ end }}
                    {{ with .Params.web.header2 }}
                    <p class="mb-4">{{ . | markdownify }}</p>
                    {{ end }}
                    
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-7 p-4">
                <div class="row d-flex justify-content-center">
                    <div class="col d-flex align-items-center position-relative">
                        <img src="postpic.png" alt="" class="img-fluid shadow js-tilt-lg" data-tilt>
                    </div>
                </div>
            </div>
        </div>
    </div> -->