$primary: rgb(240, 68, 0);
$headings-font-family: 'Montserrat';
$headings-font-weight: 700;
$logo-font-weight: 800;



$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

@import "../node_modules/bootstrap/scss/bootstrap";

$speed: 600ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

.toggler .navbar-toggler-bars {
    transition: all 90ms;
    display: block;
    position: relative;
    height: 3px;
    width: 30px;
    background-color: #212529;
    -webkit-transition: all 90ms;
    -moz-transition: all 90ms;
    -ms-transition: all 90ms;
    -o-transition: all 90ms;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

.toggler:hover .navbar-toggler-bars {
    width: 25px;
}

.toggler .navbar-toggler-bars:nth-of-type(2)  {
    right: 0px;
    margin-top: 3px; 
    margin-bottom: 3px;
}

.toggler:hover .navbar-toggler-bars:nth-of-type(2)  {
    right: 5px;
    margin-top: 6px; 
    margin-bottom: 6px;
}


.sidenav {
    will-change: transform;
    height: 100%;
    /*100%Full-height*/width: 100vw;
    /*0width-changethiswithJavaScript*/position: fixed;
    /*Stayinplace*/z-index: 9999;
    /*Stayontop*/top: 0;
    left: -100vw ;
    background-color: #DDD;
    /*Black*/overflow-x: hidden;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}
  
  .active {
      font-weight: 700;
  }

  .menu-active {
      left: 0;
  }


.F,
.R,
.A,
.N,
.K,
.DOT,
.L,
.D {
    position: relative;
    display: inline-block;
}

