{{ define "main" }}
<div class="container-fluid" style="min-height:calc(100vh - 136px - 168px); max-width: 2000px;">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col-12 p-5">
					<span>
						<h1>{{ .Title }}</h1>

						{{ partial "post-meta" . }}
					</span>
					<p>
						{{ .Content }}
					</p>
				</div>
			</div>
		</div>
		<div class="col">

			{{ range .Params.portfolio_items }}
			<div class="row d-flex align-items-center pb-5">
				<div class="col-12 p-5">
					<h4 class="text-primary">{{ .header1 }}</h4>
					<h2 class="font-weight-bold mb-3">{{ .header2 }}</h2>
					<p>{{ .description }}</p>
				</div>
				<div class="col-12 px-5 d-flex justify-content-center">
					<div>
							<img src="{{ .image }}" alt="" class="single-image img-fluid shadow" style="max-height:70vh;">
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div>


{{ end }}
