<nav id="fixed-nav" class="navbar navbar-expand-xl navbar-light" role="navigation" aria-label="main navigation">
  <div class="container px-4">
    <div class="navbar-brand py-2 ">
      <a class="navbar-brand text-primary" href="/">
        <h1 id="logo" class="text-weight-bold h5 mb-0">
          <span class="F logostagger">F</span>
          <span class="R logostagger">R</span>
          <span class="A logostagger">A</span>
          <span class="N logostagger">N</span>
          <span class="K logostagger">K</span>
          <span class="DOT logostagger">.</span>
          <span class="L logostagger">L</span>
          <span class="D logostagger">D</span>
        </h1>
      </a>
    </div>
    
    <ul class="navbar-nav ml-auto d-none d-xl-flex">
        {{ $currentPage := .Page }}
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link {{ if eq $currentPage.URL .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name}}</a>
        </li>
        {{ end }}
      </ul>

    <a class="toggler position-relative d-xl-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="svgx2" width="20" height="9.717"><g data-name="menu"><path data-name="bottom" d="M0 7.717h20v2H0z"/><path data-name="middle" d="M0 3.859h20v2H0z"/><path data-name="top" d="M0 0h20v2H0z"/></g></svg>
    </a>
  </div>
</nav>


<aside id="mySidenav" class="sidenav">
    <nav class="navbar navbar-light p-0 fixed-top" role="navigation" aria-label="main navigation">
        <div class="container px-4 py-3 justify-content-end">
            <a id="nav-close" class="toggler close" >
              <svg xmlns="http://www.w3.org/2000/svg" class="svgx2" width="12.021" height="12.021" viewBox="0 0 12.021 12.021">
                <g id="menu" transform="translate(78.51 156.152)">
                  <rect id="line2" width="15" height="2" transform="translate(-78.51 -145.545) rotate(-45)"/>
                  <rect id="line1" width="15" height="2" transform="translate(-77.096 -156.152) rotate(45)"/>
                </g>
              </svg>
            </a>
        </div>
      </nav>
  <div class="container" style="max-width:900px;">
    <div class="row vh-100 d-flex align-items-center">
      <div class="col p-4">
        <div>
          <div class="pb-5 text-center text-sm-left">
            <h1 class="menu-header"> <strong>FRANCIS <br> LAGUNA-DRISCOLL</strong></h1>
            <h3 class="menu-header" style="font-weight:400;">DESIGNER / PHOTOGRAPHER</h3>
          </div>
          <ul class="nav flex-column text-center text-sm-left">
            {{ $currentPage := .Page }}
            {{ range .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link {{ if eq $currentPage.URL .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name}}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

    </div>
  </div>
  
</aside>

