{{ define "main" }}

<!-- Section 1 -->
<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
		<div>
			<div class="uk-padding uk-dark uk-flex" uk-height-viewport>
				<div class="uk-flex uk-flex-wrap uk-flex-wrap-middle">
						{{ with .Site.Params.sidebar.bio }}
						<h1 class="uk-animation-slide-left-small">{{ . | markdownify }}</h1>
						{{ end }}
						<p class="uk-animation-slide-left-medium">Phasellus vestibulum, urna et ultrices vulputate, tellus egestas dolor, eu faucibus quam nunc quis dolor. Vestibulum eget tempor lorem, eleifend maximus felis. Sed aliquam urna sed aliquet. Morbi vestibulum mauris vitae dui molestie condimentum. Suspendisse tempus quis dui ut mattis.</p>
				</div>
			</div>
		</div>
		<div>
					<div class="uk-cover-container uk-padding-large uk-flex uk-flex-middle" uk-height-viewport style="background-image:url(/bg.jpg); background-size: cover;" uk-parallax="bgy: -200" >
						<div class="js-tilt uk-card uk-card-default uk-card-hover uk-display-block uk-link-reset uk-margin uk-text-center uk-scrollspy-inview" data-tilt >
							<img src="frank.jpg" alt="">
						</div>
					</div>
		</div>
		<a class="uk-position-bottom-center uk-padding">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="225.249" height="225.249" viewBox="0 0 225.249 225.249" transform="scale(0.35)"><defs><style>.a{fill:#fff;}.b{fill:#fe5222;}.c{filter:url(#a);}</style><filter id="a" x="0" y="0" width="225.249" height="225.249" filterUnits="userSpaceOnUse"><feOffset dy="10" input="SourceAlpha"/><feGaussianBlur stdDeviation="10" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="translate(940.249 -1508) rotate(90)"><g class="c" transform="matrix(0, -1, 1, 0, 1508, 940.25)"><circle class="a" cx="82.624" cy="82.624" r="82.624" transform="translate(195.25 20) rotate(90)"/></g><g transform="translate(1638.047 827.624) rotate(135)"><rect class="b" width="12.151" height="48.603" rx="6.075" transform="translate(0)"/><rect class="b" width="48.603" height="12.151" rx="6.075" transform="translate(0)"/></g></g></svg>
		</a>
</div>

<!-- Section 2 -->

	<div class="uk-container uk-container-large uk-flex uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>
		<div class="uk-flex-center uk-padding uk-text-center" uk-grid>
			<div class="uk-width-3-5">
				<h1 class="uk-text-bold">I’M A GRAPHIC DESIGNER WHO <br> BREAKS THE MOLD AND DOTS THE I’s</h1>
				<p>Phasellus vestibulum, urna et ultrices vulputate, tellus egestas dolor, eu faucibus quam nunc quis dolor. Vestibulum eget tempor lorem, eleifend maximus felis. Sed aliquam urna sed aliquet. Morbi vestibulum mauris vitae dui molestie condimentum. Suspendisse tempus quis dui ut mattis.</p>
			</div>

			<div tabindex="-1" uk-slider="center: true">
				<div class="uk-position-relative" >
					<div class="uk-slider-container uk-light">
						<ul class="uk-slider-items uk-grid">
							<li class="uk-width-3-4">
								<div class="uk-panel uk-box-shadow-large">
									<img src="postpic.png" alt="">
									<div class="uk-position-center uk-panel"><h1>1</h1></div>
								</div>
							</li>
							<li class="uk-width-3-4">
								<div class="uk-panel uk-box-shadow-large">
									<img src="postpic.png" alt="">
									<div class="uk-position-center uk-panel"><h1>2</h1></div>
								</div>
							</li>
							<li class="uk-width-3-4">
								<div class="uk-panel uk-box-shadow-large">
									<img src="postpic.png" alt="">
									<div class="uk-position-center uk-panel"><h1>3</h1></div>
								</div>
							</li>
							<li class="uk-width-3-4">
								<div class="uk-panel uk-box-shadow-large">
									<img src="postpic.png" alt="">
									<div class="uk-position-center uk-panel"><h1>4</h1></div>
								</div>
							</li>
							<li class="uk-width-3-4">
								<div class="uk-panel uk-box-shadow-large">
									<img src="postpic.png" alt="">
									<div class="uk-position-center uk-panel"><h1>5</h1></div>
								</div>
							</li>
						</ul>
					</div>
			
					<div class="uk-hidden@s uk-light">
						<a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
						<a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
					</div>
			
					<div class="uk-visible@s">
						<a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
						<a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
					</div>
			
				</div>
			
				<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
			
			</div>

		</div>
	</div>

	

			<h3>Section</h3>
			



	{{ if not .Site.Params.about.hide }}
		{{ partial "about" . }}
	{{ end }}

	{{ if not .Site.Params.portfolio.hide }}
		{{ partial "portfolio" . }}
	{{ end }}

	{{ if not .Site.Params.recentposts.hide }}
		{{ partial "recent-posts" . }}
	{{ end }}

	{{ if not .Site.Params.contact.hide }}
		{{ partial "contact" . }}
	{{ end }}
{{ end }}
