{{ "<!-- RECENT WORK -->" | safeHTML }}
{{ if .IsHome }}


<div class="w-100 recent_section section1 d-block d-md-flex align-items-center">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-12 col-lg-6 py-5">
                <img id="featured_img1" src="uploads/landing-page.png" alt="" class="img-fluid shadow-lg js-tilt recent_img" data-tilt>
            </div>
            <div class="col-12 col-lg-6 p-5 d-block d-sm-flex align-items-center text-white">
                <div class="recent_text">
                    <span>Personal Project</span>
                    <h1>HOME LIVING MOCK UP</h2>
                        <p class="small">A quick personal project with the goal of setting up a mini design system with a single component. For practice purposes only!</p>
                        <a href="post/home-living-mock-up/" class="btn btn-outline-light btn-plus">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100 recent_section section2 d-block d-md-flex align-items-center">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-12 col-lg-6 py-5">
                <img id="featured_img2" src="uploads/hhr-home.jpg" alt="" class="img-fluid shadow-lg js-tilt recent_img" data-tilt>
            </div>
            <div class="col-12 col-lg-6 p-5 d-block d-sm-flex align-items-center text-white">
                <div class="recent_text">
                    <span>UX/UI & Visual Design</span>
                    <h1>Hearts and Homes for Refugees</h1>
                    <p class="small">A little help goes a long way. I look forward to working for this great cause and giving their website a refresh.</p>
                    <a href="post/hearts-and-homes/" class="btn btn-outline-light btn-plus">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100 recent_section section3 d-block d-md-flex align-items-center">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-12 col-lg-6 py-5">
                <img id="featured_img3" src="uploads/wam-home.jpg" alt="" class="img-fluid shadow-lg js-tilt recent_img" data-tilt>
            </div>
            <div class="col-12 col-lg-6 p-5 d-block d-sm-flex align-items-center text-white">
                <div class="recent_text">
                    <span>Wordpress Theme</span>
                    <h1>WAM Partners Property Management</h1>
                    <p class="small">During my time at WAM Partners I was able to work on a side project that involved the company. I was able to create a website using WordPress with a custom theme using Advanced Custom Fields (ACF) in the back end, and then using Bootstrap for the front end.</p>
                    <a href="post/wam-partners-website-proposal/" class="btn btn-outline-light btn-plus">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="container pt-5">
    <h1 class="h5 text-uppercase"> <strong>Recent Work</strong> </h1>
    <div class="row py-4 recentWork no-gutters">
        {{ $recentposts := where .Data.Pages "Section" "post" }}
        {{ $sortedposts := sort $recentposts ".Date" "desc" }}
        {{ range first 9 $sortedposts }}
        <div class="col-12 col-sm-6 col-sm-6 col-lg-4 d-flex justify-content-center">
            <div class="recentWrap w-100 m-1 d-flex align-items-center">
                <a href="{{ .RelPermalink }}" id="test" class="recentLink d-block shadow-sm"><img src="{{ .Params.thumb }}" alt="{{.Title}}" class="recentImage" style="width:100%;"></a>
                <div class="recent-meta">
                    <a href="{{.RelPermalink}}">
                        <h1 class="h3 text-uppercase">
                            <strong>
                                {{ .Title}}
                            </strong>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}


    </div>
</div> -->






{{else}}

<div class="container pt-5">
    <div class="row">
        <div class="col">
            <h2 class="display-4">{{ .Title }}</h2>
        </div>
    </div>
    <div class="row py-4 recentWork no-gutters">
        {{ range sort .Pages ".Date" "desc" }}
        <div class="col-12 col-sm-6 col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="recentWrap w-100 m-1 d-flex align-items-center">
                <a href="{{ .RelPermalink }}" id="test" class="recentLink d-block shadow-sm"><img src="{{ .Params.thumb }}" alt="{{.Title}}" class="recentImage" style="width:100%;"></a>
                <div class="recent-meta">
                    <a href="{{.RelPermalink}}">
                        <h2 class="h3 text-uppercase">
                            <strong>
                                {{ .Title}}
                            </strong>
                        </h2>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}


    </div>
</div>




{{ end }}