{{ "<!-- Header -->" | safeHTML }}
<header>
	{{ if .IsHome }}
		<nav class="navbar position-absolute navbar-expand-lg vw-100 p-5" style="z-index:9999;">
			{{ else }}
		<nav class="navbar position-relative navbar-expand-lg vw-100 p-5" style="z-index:9999;">
	{{ end }}
		<a class="navbar-brand" href="{{ .Site.BaseURL }}">FRANK.LD</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				{{ with .Site.Menus.main }}
					{{ range . }}
				<li class="nav-item active">
					<a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
				</li>
					{{ end }}
				{{ end }}
			</ul>
		</div>
	</nav>
</header>

