{{ "<!-- Header -->" | safeHTML }}

<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-background-default uk-padding-remove-vertical ;top: 50vh;">
<nav class="uk-navbar-container uk-position-top uk-width-100 uk-navbar-transparent uk-padding uk-dark" style="z-index:9999;" uk-navbar="dropbar: true;" >
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="{{ .Site.BaseURL }}" >FRANK.LD</a>
		</div>
		<div class="uk-navbar-right">
				{{ with .Site.Menus.main }}
				<ul class="uk-navbar-nav uk-dark">
						{{ range . }}
							<li class="uk-navbar-item uk-dark uk-active"><a href="{{ .URL | absURL }}" class="uk-dark">{{ .Name }}</a></li>
						{{ end }}
				</ul>
				{{ end }}
			</div>
	</nav>

</div>

