{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasNext }}
    <div class="col-6 text-right">
        <a class="button" rel="next" href="{{.Paginator.Next.URL}}">« Older</a>
    </div>
    {{ end }}

    {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <span class="spacer"></span>
    {{ end }}

    {{ if .Paginator.HasPrev }}
    <div class="col-6 text-left ml-auto">
        <a class="button" rel="prev" href="{{.Paginator.Prev.URL}}">Newer »</a>
    </div>
    {{ end }}

{{ end }}
